---
import Twitter from "../assets/icons/brand-twitter-filled.svg";
import Github from "../assets/icons/brand-github-filled.svg";
import LinkedIn from "../assets/icons/brand-linkedin.svg";
import Play from "../assets/icons/player-play-filled.svg";
import RotateClockwise from "../assets/icons/rotate-clockwise.svg";

import WrongSong from "../assets/sounds/wrong-answer-129254.mp3";

import "../styles/index.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Clock</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body>
    <header>
      <div class="phone-view">
        <button id="navbar-menu" title="navbar-menu"></button>
        <h1>Timer</h1>
      </div>
      <nav>
        <ul>
          <li><a href="/">Clock</a></li>
          <li><a href="/stopwatch">Stopwatch</a></li>
          <li>
            <a href="/timer" class="selected" tabindex="-1">Timer</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <dialog>
        <form>
          <div class="top">
            <div class="input-data">
              <input type="number" id="user-minutes" placeholder="00" />
              <span>:</span>
              <input type="number" id="user-seconds" placeholder="00" />
              <span>ss</span>
            </div>
            <span class="error-message">Time count isn't valid</span>
          </div>
          <div class="actions">
            <button id="cancel-dialog">Cancelar</button>
            <button id="submit-dialog">Aceptar</button>
          </div>
        </form>
      </dialog>
      <div class="sound">
        <audio src={WrongSong} id="audio" loop></audio>
      </div>
      <div class="timer container">
        <div class="progress"></div>
        <div class="timer">
          <input id="time" value="00:00" readonly />
        </div>
      </div>
      <div class="title">
        <h1>Timer</h1>
      </div>
      <div class="actions">
        <div class="buttons">
          <button class="image-button" id="play-timer">
            <img src={Play.src} alt="play" />
            <span>Play</span>
          </button>
          <button class="image-button" id="reset-timer">
            <img src={RotateClockwise.src} alt="reset" />
            <span>Reset</span>
          </button>
        </div>
      </div>
    </main>
    <footer>
      <span>Created by IsaacGH</span>
      <ul>
        <li>
          <a href="https://twitter.com/isaacgh_0">
            <img src={Twitter.src} alt="twitter" title="Twitter" />
          </a>
        </li>
        <li>
          <a href="https://github.com/isaacgh0">
            <img src={Github.src} alt="github" title="Gitbub" />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/isaacgh0/">
            <img src={LinkedIn.src} alt="linkedin" title="LinkedIn" />
          </a>
        </li>
      </ul>
      <span>
        <a href="https://tabler-icons.io/">Icons from TablerIcons.io</a>
        <a href="https://pixabay.com//">Sound Effect from Pixabay</a>
      </span>
    </footer>
    <script src="../scripts/timer.js"></script>
    <script src="../scripts/header.js"></script>
  </body>
</html>
